
.projects {
    max-width: 1200px;
    margin: 0 auto;
}

.projects h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    color:black;
    height: 300px;
}

.project img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project .project-type {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

.project h2 {
    font-size: 1.5em;
    margin: 10px 0;
}
.links li a {
    color: #5d5d5d; /* Set the text color to white */
 /* Remove underline from links */
}

/* This will make only the "Get Started" link text white */
#getstarted a {
    color: white;
}


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.container-header {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}


/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}

  .landing-page header {
    min-height: auto;
    display: initial;
  }

.landing-page header .container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}

.landing-page header .links {
  display: flex;
  align-items: center;
}

.landing-page header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}

.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #3663BF;
}

.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}

.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}
.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #3663BF;
}
.landing-page .content .image img {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 200px;
  margin-left: 200px;
  padding: 0px;
}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

@rhino: #323b40;
@rhinoMid: #4f585e;
@teal: #0096a1;
@tealMid: #0ebac7;
@red: #fc625c;
@amber: #fdbc40;
@green: #34c748;
@offWhite: #e9eaea;

html {
  background: @rhinoMid;
}

div.browser {
  background: #fff url(http://www.s4c.cymru/temp/unsplash-kitsune-4.jpg) no-repeat;
  background-size: cover;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 4px 8px -4px rgba(0,0,0,0.4), 0 12px 24px -6px rgba(0,0,0,0.4), 0 24px 64px 12px rgba(0,0,0,0.25);
  color: @rhino;
  font-family: 'Source Sans Pro', helvetica;
  overflow: hidden;
  letter-spacing: -0.05em;
  margin: 5% auto;
  max-width: 1200px;
  min-width: 320px;
  min-height: 600px;
  padding-bottom: 10%;
  position: relative;
  width: 90%;
  div.chrome {
    background: @rhinoMid;
    height: 40px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    > a {
      border-radius: 12px;
      display: block;
      float: left;
      height: 12px;
      margin: 13px 4px;
      width: 12px;
      &:first-child {
        margin-left: 13px;
      }
      &.red {
        background: @red;
      }
      &.amber {
        background: @amber;
      }
      &.green {
        background: @green;
      }
    }
    div.url {
      background: #5f676d;
      border-radius: 4px;
      height: 24px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      top: 8px;
      width: 70%;
    }
  }
  h1 {
    font-size: 24px;
    font-weight: 200;
    margin: 0;
    padding: 80px 40px 10px;
  }
  h2 {
    font-size: 48px;
    line-height: 1em;
    max-width: 16em;
    margin: 0;
    padding: 0 40px;
  }
}

footer {
    position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  div.social-media-links {
    background: @rhino;
    overflow: hidden;
    padding-bottom: 4px;
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline;
      margin: 0;
      padding: 0;
    }
    a {
      border-bottom: 0px solid rgba(0,0,0,0.95);
      border-radius: 4px;
      box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 24px 24px rgba(0,0,0,0), 0 36px 36px rgba(0,0,0,0), 0 64px 64px rgba(0,0,0,0), 0 64px 128px rgba(0,0,0,0), 0 120px 0 rgba(0,0,0,0), 0 86px 8px 6px rgba(0,0,0,0),;
      display: inline-block;
      height: 30px;
      padding: 20px;
      position: relative;
      transition: .2s ease-in;
      width: 30px;
      svg, img{
        left: 20px;
        position: absolute;
        top: 20px;
        height: 30px;
        width: 30px;
        &.glow {
          path, circle {
            fill: rgba(0,0,0,0);
          }
        }
        path, circle {
          fill: @teal;
          transition: .2s ease-in;
        }
      }
    }
    a:hover {
      transform: translateY(-4px);
      box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1), 0 6px 8px rgba(0,0,0,0.05), 0 24px 24px rgba(0,0,0,0.05), 0 36px 36px rgba(0,0,0,0.05), 0 64px 64px rgba(0,0,0,0.15), 0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px fadeout(@tealMid, 75), 0 83px 4px 0px fadeout(@tealMid, 5);
      svg, img{
        &.glow {
          filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
          filter: blur(2px);
          path, circle {
            fill: fadeout(@tealMid, 40);
          }
        }
        path, circle {
          fill: @tealMid;
        }
      }
    }
  }
}
.container-header {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
  }
li a img {
    left: 20px;
    position: absolute;
    top: 20px;
    height: 30px;
    width: 30px;
  }